{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "endOfLine": "auto",
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "space-before-function-paren": true
}