/*Variables*/

:root {
  --alata: 'Alata', sans-serif;
  --josefin-sans: 'Josefin Sans', sans-serif;

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --white-hover: hsla(0, 0%, 100%, 0.65);

  --font-weight-light: 300;
  --font-weight-regular: 400;

  --max-width: 1200px;
  --side-padding: 5vw;
}

/*Reset styles*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

a,
button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

/*Reset styles end*/

body {
  position: relative;
  color: var(--black);
  background-color: var(--white);
}

body.open {
  overflow: hidden;
}

.underlined {
  position: relative;
}

.underlined::after {
  content: '';
  position: absolute;
  width: 0%;
  left: 50%;
  right: 0;
  bottom: -1rem;
  height: 1.5px;
  transform: translate(-50%);
  background-color: var(--white);
  transition: all 0.2s ease-in-out;
}

.small:hover::after,
.small:focus::after {
  width: 55%;
}

.large:hover::after,
.large:focus::after {
  width: 100%;
}

.logo {
  z-index: 2;
}

/*Hero*/

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/assets/images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  padding: 4rem var(--side-padding);
}

.header {
  max-width: var(--max-width);
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger,
.menu {
  display: none;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__link {
  color: var(--white);
  opacity: 1;
}

.content {
  max-width: var(--max-width);
  margin: auto;
}

.container {
  margin: 4.5rem 0 3rem 0;
  padding: 2rem;
  border: 1.8px solid var(--white);
  max-width: 30rem;
}

.container__title {
  color: var(--white);
}

@media (max-width: 780px) {
  .header .navbar {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 26px;
    height: 18px;
    z-index: 1;
  }

  .hamburger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.3px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.2s;
    background-color: var(--white);
  }

  .hamburger__line:nth-child(1) {
    top: 0;
  }

  .hamburger__line:nth-child(1).open {
    top: 45%;
    height: 2.3px;
    transform: rotate(45deg);
  }

  .hamburger__line:nth-child(2) {
    top: 50%;
    opacity: 1;
    transform: translate(0, -50%);
    transition: all 0.2s ease-in-out;
  }

  .hamburger__line:nth-child(2).open {
    opacity: 0;
  }

  .hamburger__line:nth-child(3) {
    bottom: 0;
  }

  .hamburger__line:nth-child(3).open {
    top: 45%;
    height: 2.3px;
    transform: rotate(-45deg);
  }

  .menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: var(--side-padding);
    background-color: var(--black);
    transform: translate3d(-100%, 0, 0);
    transition: all 0.3s ease-in-out;
  }

  .menu.open {
    transform: translate3d(0, 0, 0);
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
  }

  .menu__link {
    color: var(--white);
  }
}

@media (max-width: 580px) {
  .container {
    padding: 1.3rem;
    max-width: 100%;
  }
}

/*Hero end*/

/*Sections*/

.section {
  max-width: var(--max-width);
  padding: 4rem var(--side-padding);
  margin: auto;
}

/*Section 1 */

.section-1 {
  display: grid;
  grid-template-columns: auto 10rem 1fr;
  grid-template-rows: 12rem 1fr;
}

.section-1__image {
  grid-column: 1/3;
  grid-row: 1/3;
}

.section-1 .content {
  grid-column: 2/4;
  grid-row: 2/3;

  background-color: var(--white);
  padding: 4.5rem;
}

.content__title {
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .section-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .section-1__image {
    grid-column: 1;
    grid-row: 1;
  }

  .section-1 .content {
    grid-column: 1;
    grid-row: 2;

    text-align: center;
    padding: 3rem 0 0 0;
  }
}

/*Section 1 end */

/*Section 2 */

.section-2 {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'title button'
    'grid   grid ';
}

.section-2__title {
  grid-area: title;
}

.button {
  grid-area: button;

  justify-self: center;
  max-width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--black);
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.button__caption {
  color: var(--black);
}

.button:hover,
.button:focus {
  background-color: var(--black);
}

.button:hover .button__caption,
.button:focus .button__caption {
  color: var(--white);
}

.grid {
  grid-area: grid;
  margin: 5rem 0;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.card {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: end;
  height: 28rem;
}

.card::before {
  content: '';
  opacity: 0;
  position: absolute;
  background-color: var(--white-hover);
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.card:hover::before,
.card:focus::before {
  opacity: 1;
}

.card__title {
  color: var(--white);
  margin: 2rem 2.5rem;
  transition: all 0.2s ease-in-out;
}

.card:hover .card__title,
.card:focus .card__title {
  z-index: 1;
  color: var(--black);
}

.card:nth-child(1) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-deep-earth.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(2) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-night-arcade.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(3) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-soccer-team.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(4) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-grid.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(5) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-from-above.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(6) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-pocket-borealis.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(7) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-curiosity.jpg') no-repeat center;
  background-size: cover;
}

.card:nth-child(8) {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/desktop/image-fisheye.jpg') no-repeat center;
  background-size: cover;
}

@media (max-width: 780px) {
  .section-2 {
    grid-template-areas:
      'title  title'
      ' grid   grid'
      'button button';
  }

  .section-2__title {
    text-align: center;
  }

  .grid {
    margin: 2.9rem 0;
  }

  .button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 780px) {
  .card {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: end;
    height: 8rem;
  }

  .card__title {
    margin: 1rem;
  }

  .card:nth-child(1) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-deep-earth.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(2) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-night-arcade.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(3) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-soccer-team.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(4) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-grid.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(5) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-from-above.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(6) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-pocket-borealis.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(7) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-curiosity.jpg') no-repeat center;
    background-size: cover;
  }

  .card:nth-child(8) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/mobile/image-fisheye.jpg') no-repeat center;
    background-size: cover;
  }
}
/*Section 2 end*/

/*Sections end*/

/*Footer*/

.footer {
  padding: 3rem var(--side-padding);
  background-color: var(--black);
}

.footer__container {
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .social {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.footer .copyright {
  justify-content: center;
  color: var(--very-dark-gray);
}

@media (max-width: 780px) {
  .footer__container,
  .footer .navbar__list {
    flex-direction: column;
  }

  .footer .left,
  .footer .right {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .footer .social {
    margin-top: 3.5rem;
    justify-content: center;
    gap: 1.5rem;
  }
}

/*Footer end*/
