/*Variables*/

:root {
  --alata: 'Alata', sans-serif;
  --josefin-sans: 'Josefin Sans', sans-serif;

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --font-weight-light: 300;
  --font-weight-regular: 400;

  --max-width: 1440px;
}

/*Reset styles*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Reset styles end*/

/*Hero*/

.hero {
  background: url(/src/assets/images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
}

.header {
  margin: auto;
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5vw;
}

.navbar__list {
  display: flex;
  gap: 2rem;
}

.navbar__link {
  color: var(--white);
  opacity: 1;
}

/*Hero end*/
