/*Typography*/

html {
  font-size: 16px;
}

body {
  font-family: var(--alata);
}

h1,
h2,
h3 {
  font-family: var(--josefin-sans);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

h1 {
  font-size: clamp(1.6rem, 1vw + 1.5rem, 4rem);
  letter-spacing: 0.3rem;
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.5rem, 1vw + 1.5rem, 3rem);
}

h3 {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.8rem);
  line-height: 1.3;
}

p {
  font-size: clamp(1rem, 0.1vw + 1rem, 1.5rem);
  font-weight: var(--font-weight-regular);
  color: var(--dark-gray);
  line-height: 1.6;
}

.menu {
  font-family: var(--josefin-sans);
}

.menu__link {
  text-transform: uppercase;
  font-size: 1.5rem;
}
